@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

$background: #15bae8;
$fontcolor: #dee9f0;
$hover: #15e82a;
$covers: #14bb91;
$shadow: 1px 1px 2px black;
$font-family: "Orelega One", cursive;
$darkBackground: #0f5c54;
